/*h1{
    
        font-family: "Playwrite IT Moderna", cursive;
        font-optical-sizing: auto;
       
}
@font-face {
    font-family: jayesh_font;
    src: url(font/sweety_diary/);

}*/
#offline{
    font-family: jayesh_font;
}