/* tag selector  */
p{
    color: purple;
 }
 
 /* id selector  */
 #first_h1
 {
    color: green;
 }
 #next_h1
 {
    color: blue;
 }
 
 .in_red
 {
    color: red;
 }
 
 p, #first_h1, .in_red 
 {
    background-color: pink;
 }